"*":
  editor:
    invisibles:
      space: " "
    fontFamily: "Source Code Pro for Powerline"
    showIndentGuide: true
    showInvisibles: true
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  "exception-reporting":
    userId: "2264dd7b-1231-b952-fb24-584fa4f58c74"
  welcome:
    showOnStartup: false
  linter: {}
  "linter-rubocop":
    command: "/Users/itiut/.rbenv/shims/rubocop"
  "autocomplete-plus": {}
  term2: {}
  "autocomplete-python": {}
  "linter-flake8": {}
  "atom-beautify":
    _analyticsUserId: "0cbb3648-7ba7-4603-b64a-f29f607de2e6"
  "linter-htmlhint": {}
".c.source":
  editor:
    tabLength: 4
