"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify":
    _analyticsUserId: "0cbb3648-7ba7-4603-b64a-f29f607de2e6"
  "autocomplete-plus": {}
  "autocomplete-python": {}
  "clipboard-plus": {}
  core:
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "douglas"
      "emmet"
      "go-to-line"
      "highlight-line"
      "linter"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro, Ricty Diminished"
    invisibles:
      space: " "
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "2264dd7b-1231-b952-fb24-584fa4f58c74"
  "expand-region": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-diff-details":
    enableSyntaxHighlighting: true
  "git-plus": {}
  "highlight-line": {}
  "highlight-selected": {}
  linter: {}
  "linter-flake8": {}
  "linter-htmlhint": {}
  "linter-js-yaml": {}
  "linter-rubocop":
    command: "/Users/itiut/.gem/ruby/2.3.0/bin/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/itiut/.rubies/ruby-2.3.0/bin/ruby"
  "linter-scss-lint":
    executablePath: "/Users/itiut/.gem/ruby/2.3.0/bin/scss-lint"
  "linter-tidy": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui": {}
  "ruby-test":
    rspecAllCommand: "chruby_auto && rspec --tty spec"
    rspecFileCommand: "chruby_auto && rspec --tty {relative_path}"
    rspecSingleCommand: "chruby_auto && rspec --tty {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "rspec"
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
