[user]
	name = Yuichi TANIKAWA
	email = t.yuichi111@gmail.com
[core]
	excludesfile = ~/.gitignore
	pager = less -r
	editor = vim
[color]
	ui = auto
[push]
	default = simple
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	a = add
	aa = !git add --all && git status
	b = branch
	ba = branch -a
	bare = init --bare --shared=true
	ci = commit
	co = checkout
	d = diff
	dc = diff --cached
	di = diff
	dic = diff --cached
	f = fetch --prune
	info = remote show origin
	st = status
	sh = show
	this = !git init && git add . && git commit -m \"Initial commit\"
