*~

*.zsh_history
.byobu/.screenrc
.byobu/.ssh-agent

# Emacs
*.elc
linked/.emacs.d/.emacs.desktop*
linked/.emacs.d/.mc-lists.el
linked/.emacs.d/.recentf
linked/.emacs.d/ac-comphist.dat
linked/.emacs.d/auto-save-list
linked/.emacs.d/elpa
linked/.emacs.d/eshell
linked/.emacs.d/development/*
linked/.emacs.d/history
linked/.emacs.d/session*
linked/.emacs.d/tramp
linked/.emacs.d/var

!.gitkeep
