[submodule ".zsh.d/auto-fu.zsh"]
	path = .zsh.d/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
	branch = pu
[submodule ".zsh.d/antigen"]
	path = .zsh.d/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule ".zsh.d/z"]
	path = .zsh.d/z
	url = git://github.com/rupa/z.git
[submodule ".emacs.d/site-lisp/rsense"]
	path = .emacs.d/site-lisp/rsense
	url = git://github.com/m2ym/rsense.git
