[include]
	path = .gitconfig.local
[core]
	editor = vim
	pager = less -r
[color]
	ui = auto
[push]
	default = simple
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	a = add
	aa = !git add --all && git status
	amend = commit --amend --verbose
	b = branch --verbose
	ba = branch --all --verbose
	bare = init --bare --shared=true
	ci = commit --verbose
	co = checkout
	d = diff
	dc = diff --cached
	di = diff
	dic = diff --cached
	f = fetch --prune
	fa = fetch --prune --all
	fixup = commit --amend -C HEAD
	info = remote show origin
	sb = show-branch --all
	st = status
	sh = show
	this = !git init && git add . && git commit -m \"Initial commit\"
