*~

*.zsh_history
.byobu/.screenrc
.byobu/.ssh-agent

## emacs
*.elc
.emacs.d/.emacs.desktop*
.emacs.d/.mc-lists.el
.emacs.d/.recentf
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/development/*
.emacs.d/history
.emacs.d/session*
.emacs.d/tramp
.emacs.d/var

!.gitkeep
