[include]
	path = .gitconfig.local
[core]
	editor = vim
	pager = less -r
	excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = always
[color]
	ui = auto
[fetch]
	prune = true
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[alias]
	a = add
	aa = !git add --all && git status
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	amend = commit --amend --verbose
	b = branch --verbose
	ba = branch --all --verbose
	branches = branch --all --verbose
	ci = commit --verbose
	co = checkout
	d = diff
	dc = diff --cached
	delete-merged = !git branch --merged master | grep -v 'master$' | xargs -n 1 -r git branch -d
	di = diff
	dic = diff --cached
	discard = checkout --
	f = fetch
	fa = fetch --all
	fixup = commit --amend -C HEAD
	info = remote show origin
	remotes = remote -v
	sb = show-branch --all
	sh = show
	st = status
	stashes = !tig stash
	tags = tag
	this = !git init && git add --all && git commit -m 'Initial commit'
	uncommit = reset --soft HEAD~
	unstage = reset -q HEAD --
[ghq]
	root = ~/src
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
